/* Estilo general */
body {
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9;
  }
  
  /* Estilo del encabezado */
  header {
    background-color: #d48c06;
    color: white;
    text-align: center;
    padding: 5px;
  }
  
  /* Estilo del formulario y sección */
  section {
    padding: 5px;
    border-color: #333;
    background-color: #ededed;
    border: 1px solid #ddd;
  }
  
  /* Estilo de los elementos del formulario */
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #a07b01;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000437;
  }
  
  @media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: flex-start;
    }

    #pa {
        margin-right: 0;
        margin-bottom: 20px;
    }
}