header{
    background-color: #336699;
    color: white;
    padding: 20px;
}

p{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 17px;
}

section{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0,0,0,0.1);
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: flex-start;
    }

    #pa {
        margin-right: 0;
        margin-bottom: 20px;
    }
}